<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stop (from %)</mat-label>
        <input matInput type="number" formControlName="stopPercentage">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stop Size</mat-label>
        <input matInput type="number" formControlName="stopSize">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gap %</mat-label>
        <mat-select formControlName="gapPercentage">
          <mat-option
            *ngFor="let gap of gapPercentageList"
            [value]="gap.value"
          >
            {{gap.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>

<!--      <mat-form-field>-->
<!--        <mat-label>Gap</mat-label>-->
<!--        <input matInput type="number" formControlName="gap">-->
<!--      </mat-form-field>-->

      <mat-form-field>
        <mat-label>Platform Fee (%)</mat-label>
        <input matInput type="number" formControlName="fee">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Risk</mat-label>
        <input matInput type="number" formControlName="risk">
      </mat-form-field>

      <mat-slide-toggle formControlName="isLongPosition">Long</mat-slide-toggle>

<!--      <mat-form-field *ngFor="let risk of riskControls; let i = index">-->
<!--        <mat-label>Risk 1/{{listOfRiskPropName[i]}}</mat-label>-->
<!--        <input matInput type="number" [formControl]="risk">-->
<!--      </mat-form-field>-->
    </form>

    <div class="actions">
      <button mat-raised-button color="warn" (click)="delete()">Remove</button>
    </div>
  </mat-card-content>

  <app-preview [isLong]="form.get('isLongPosition')?.value" [orderInfo]="orderInfo"></app-preview>
</mat-card>
